{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Заказ расходных материалов
{% endblock %}

<script src="{% static "portal.js" %}"></script>

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-2">
                <br>

                {% include "supplies/left_menu.html" with active_tab='A' %}
                <br>
                {% include "supplies/info_panel.html"%}
            </div>

            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-7">
                <br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link show active" data-toggle="tab" href="#home"><abbr title="Установка расходных материалов">Картриджи</abbr></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link show" data-toggle="tab" href="#cables"><abbr title="Кабели, переходники, мышки, клавиатуры и тп">ЗиП</abbr></a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="home">
                        <div class="alert alert-dismissible alert-primary">
                            <h5>Состояние склада (текущий остаток)</h5>
                            <table class="table  table-hover table-sm" id="mTab">
                                <thead>
                                <tr>
                                    <th scope="col" width="3%">№</th>
                                    <th scope="col" width="53%">Наименование</th>
                                    <th scope="col" width="32%">Неснижаемый остаток</th>
                                    <th scope="col" width="10%">Текущий остаток</th>
                                    <th scope="col" class="-colLG" width="2%"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for c in cartridges %}
                                    <tr>
                                        <td scope="row">{{ forloop.counter }}</td>
                                        <td >{{ c.supply }}</td>
                                        <td >---</td>
                                        <td class="zip" id="{{ c.id }}">{{ c.remains }}</td>
                                        <td >
                                            <a href="issuesupply/{{ c.id }}"><button type="button" class="btn btn-secondary">Выдать</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="cables">
                        Кабели и прочая байда
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <br>
                <h4>Последние выдачи</h4>
                {% include "supplies/last_issues.html" with active_tab='A' %}

            </div>
        </div>
    </div>
{% endblock %}


