
<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
  <div class="card-header justify-content-between">Ошибка      <small>(2023.11.18)</small></div>
  <div class="card-body">
      <h4 class="card-title">Расхождение данных инвентаризации</h4>
      <p class="card-text">Выявлено расхождение остатков расходных материалов с данными инвентаризации</p>


  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-header">Возможна ошибка <small>(2023.11.18)</small></div>
  <div class="card-body">
    <h4 class="card-title">Формат баркода несоответствует стандарту</h4>
    <p class="card-text">В заявке №2 указан баркод нестандартного формата</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Новая функция <small>(2023.11.18)</small></div>
  <div class="card-body">
    <h4 class="card-title">Добавлено прогнозирование</h4>
    <p class="card-text">Реализован функционал расчетного прогнозирования расхода и предложения ЗиП на основе среднемесячного расхода</p>
  </div>
</div>

