
<div class="list-group">
    <a href="/supplies"
       class="list-group-item list-group-item-action {% if active_tab == 'A' %}active{% endif %}">
        Склад
    </a>
    <a href="/supplies/stocktaking"
       class="list-group-item list-group-item-action {% if active_tab == 'B' %}active{% endif %}">
        Инвентаризация
    </a>
    <a href="/supplies/history"
       class="list-group-item list-group-item-action {% if active_tab == 'C' %}active{% endif %}">
        История
    </a>
</div>



