{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
    Заказ расходки
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-1">

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-7">
                <h3>Формирование заказа</h3>

                <form action="/zip/" method="post" class="form">
                    {% csrf_token %}

                    {% bootstrap_form form layout='horizontal' size='small' %}

                    {% buttons submit='Добавить' %}{% endbuttons %}
                </form>
                <div class="alert alert-dismissible alert-primary">
                    <h3>ЗАКАЗ № {{ current_order }}</h3>
                    <form action="to_order/{{ current_order }}/" method="post" class="form">
                        {% csrf_token %}
                        <table class="table  table-hover table-sm">
                            <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Наименование</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Комментарий</th>
                                <th scope="col" class="-colLG"></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for o in order %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ o.zip }}</td>
                                    <td>{{ o.amount }}</td>
                                    <td>{{ o.comment }}</td>
                                    <td><a href="record_delete/{{ o.id }}"><img src="{% static "\icons\delete.png" %} "</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if order.count %}
                            <button type="submit" class="btn btn-primary btn-sm"
                                    onclick="return confirm('Заказ проверен, отправляем?');">Отправить заказ
                            </button>
                        {% endif %}
                    </form>

                </div>


            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <h4>Предыдущие заказы</h4>
                {% for o in prev_orders %}
                    <table class="table  table-hover table-sm">
                        <thead>
                        <tr>
                            <h6>Заказ №{{ o.id }} от {{ o.date | date:"d.m.Y H:m" }}</h6>
                        </tr>

                        </thead>
                        <tbody>

                        {% for i in o.get_ziprecords.all %}
                            <tr>
                                <td>{{ i.zip }}</td>
                                <td>{{ i.amount }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-1"></div>
        </div>
    </div>
{% endblock %}

{% block content_controller %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-1">

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-10">
                <h4><center>Заказы (Открытые)</center></h4>
                {% for order in orders %}
                    <h5>Заказ №{{ order.id }} | {{ order.author }}
                        <a href="close_order/{{ order.id }}/"> <button type="button" class="btn btn-info btn-sm">Заказан</button></a>
                    </h5>
                    <table class="table  table-hover table-sm">
                        <thead>
                        <tr>
                            <th scope="col">№</th>

                            <th scope="col">Наименование</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Комментарий</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for o in order.get_ziprecords %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ o.zip }}</td>
                                <td>{{ o.amount }}</td>
                                <td>{{ o.comment }}</td>
                                <td></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}

                <h4><center>Заказы (Закрытые)</center></h4>
                {% for order in orders_closed %}
                    <h5>Заказ №{{ order.id }} | {{ order.author }}
                        <a href="hide_order/{{ order.id }}/"> <button type="button" class="btn btn-info btn-sm">Скрыть</button></a>
                    </h5>
                    <table class="table  table-hover table-sm">
                        <thead>
                        <tr>
                            <th scope="col">№</th>

                            <th scope="col">Наименование</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Комментарий</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for o in order.get_ziprecords %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ o.zip }}</td>
                                <td>{{ o.amount }}</td>
                                <td>{{ o.comment }}</td>
                                <td></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}

                <h4><center>Заказы (Скрытые)</center></h4>
                {% for order in orders_hidden %}
                    <h5>Заказ №{{ order.id }} | {{ order.author }}
                    </h5>
                    <table class="table  table-hover table-sm">
                        <thead>
                        <tr>
                            <th scope="col">№</th>

                            <th scope="col">Наименование</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Комментарий</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for o in order.get_ziprecords %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ o.zip }}</td>
                                <td>{{ o.amount }}</td>
                                <td>{{ o.comment }}</td>
                                <td></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>

            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-1"></div>
        </div>
    </div>
{% endblock %}
