
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} &ndash; Tk Portal</title>
    {% load static %}
    <script src="{% static "portal.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "portal.css" %} " />
    <script type="text/javascript" src="{% static "/base/_scripts/jquery-2.0.2.min.js" %} "></script>
    <script type="text/javascript" src="{% static "/base/_scripts/main.js" %} "></script>
    <link href="{% static "/base/_css/Icomoon/style.css" %} " rel="stylesheet" type="text/css" />
    <link href="{% static "/base/_css/main.css" %} " rel="stylesheet" type="text/css" />
</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Приложения<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="themes">
                    {% if 'zip' in request.session.apps %} <a class="dropdown-item" href="/zip/">ЗиП</a>{% endif %}
                    {% if 'passes' in request.session.apps %} <a class="dropdown-item" href="/passes/">Пропуска</a>{% endif %}
                    {% if 'supplies' in request.session.apps %} <a class="dropdown-item" href="/supplies/">Расходные материалы</a>{% endif %}
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../help/"></a>
            </li>

            {%if user.is_authenticated %}
                <li class="nav-item mr-sm-2">
                    <a class="nav-link"  href="/accounts/logout">Выйти ({{ user.first_name }})</a>
                </li>
                <li class="nav-item mr-sm-2">
                    <a class="nav-link" href="/accounts/chpwd">Сменить пароль</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


<body>
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_four"></div>
            <div class="object" id="object_big"></div>
        </div>
    </div>

</div>


{% block content %}{% endblock %}

{% if role == 'admin' %}{% block content_admin %}{% endblock %}{% endif %}
{% if role == 'controller' %}{% block content_controller %}{% endblock %}{% endif %}

</body>
